
  <div class="container">
    <div class="table-filter-wrapper">
        <div class="filter-wrapper">
            <input class="filter-input" type="text" placeholder="Filter" [(ngModel)]="myFilter" (input) = updateTable()/>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th *ngFor="let headerItem of headerJson , let i = index" (click) = "sort(headerItem.name, headerItem.order)" (click)="updateOrderBy(i)"><span>{{headerItem.label}}</span>
                            <i class="material-icons" >{{icon[headerItem.order]}}</i>
                        </th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let rowItem of tableFilter | slice: (this.currentPage*10):(this.currentPage*10+10)" > 
                        <td>{{rowItem.first}}</td>
                        <td>{{rowItem.last}}</td>
                        <td>{{rowItem.email}}</td>
                        <td>{{rowItem.address}}</td>
                        <td>{{rowItem.created}}</td>
                        <td>{{rowItem.balance}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-wrapper">
                <div class="pagination-item-wrapper">
                    <div class="range-wrapper">{{math.min(this.currentPage*10+1, tableLength)}} - {{math.min(this.currentPage*10+10, tableLength)}} of {{tableLength}}</div>
                    <div class="pagination-btn-wrapper">
                        <i class="material-icons" (click) = "paginationFirst()" [ngClass]="{'disabled': disablePrevious()}">first_page</i>
                        <i class="material-icons" (click) = "paginationPrev()" [ngClass]="{'disabled': disablePrevious()}">chevron_left</i>
                        <i class="material-icons" (click) = "paginationNext()" [ngClass]="{'disabled': disableNext()}">chevron_right</i>
                        <i class="material-icons" (click) = "paginationLast()" [ngClass]="{'disabled': disableNext()}">last_page</i>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>